@import "http://webfonts.ru/import/ptsans.css";
@import url("bootstrap.css");

* {margin: 0;padding: 0;}

html, body {height: 100%; width: 100%;}

body {min-width: 995px; font-family: 'PT Sans';}

ul, li {list-style: none;}

a, a:hover {text-decoration: none;}

/*General*/

.wrap {
/*    max-width: 960px;*/
    margin: 0 auto;
}

.clr {clear: both;}

/*Header*/

header {
    height: 100%;
    width: 100%;
    background-image: url(../img/header_bg.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

.logo {margin-top: 20px;}

.menu {float: right; margin-top: 40px; border-bottom: solid 2px #fff;}

.menu li {float: left;}

.menu a {
    display: block;
    height: 44px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.headet_text {
    margin-top: 13%;
    text-align: center;
    color: #fff;
}

.headet_text h1 {font-size: 42px;}


/*adva*/

.adva {
    height: 100%; 
    min-height: 600px;
    position: relative; 
}

.adva .warp {border-bottom: solid 2px #f1adae; height: 100%;}

.adva_right, .adva_left {
    position: absolute;
    height: 100%;
    width: 250px;
    background-image: url(../img/adva_bg.png);
    background-repeat: repeat-y;
    right: 0; 
}

.adva_left {
    left: 0;
    background-image: url(../img/adva_bg_left.png);
}

.adv_cont {
    margin-top: 40px;
    z-index: 3;
}

.adva_inf, .serv_inf {
    height: 122px;
    background-image: url(../img/adva_inf.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    line-height: 85px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.adva_item {text-align: center; margin-top: 40px;}

.adva_item li {margin-bottom: 25px; color: #6e6d6b; font-size: 20px; text-align: left; position: relative; padding-left: 60px;}

.adva_item span {
    display: inline-block;
    background: #eb5454;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 90px;
    position: absolute;
    left: 0;
    top: 45%;
    margin-top: -25px;
    
}

/*Serv*/

.serv {
    position: relative;
    height: 100%;
    padding-top: 20px;
}

.serv_bot, .serv_top {
    position: absolute;
    bottom: 0;
    height: 360px;
    width: 310px;
    background: url(../img/serv_bg.png) no-repeat;
}

.ser_bot {left: 0;}

.serv_top {
    top: 0;
    right: 0;
    background: url(../img/serv_bg.png) 0 360px;
}

.serv_inf {background-image: url(../img/serv_inf.png);}