@import "http://webfonts.ru/import/ptsans.css";
@import url("bootstrap.css");

* {margin: 0;padding: 0;}

html, body {height: 100%; width: 100%;}

body {min-width: 1000px; font-family: 'PT Sans';}

ul, li {list-style: none;}

a, a:hover {text-decoration: none;}

input, button, textarea {outline: none;}

/*General*/

.wrap {
/*    max-width: 960px;*/
    margin: 0 auto;
}

.container {max-width: 1000px;}

.clr {clear: both;}

/*Header*/

header {
    height: 100%;
    width: 100%;
    background-image: url(../img/header_bg.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

.logo {margin-top: 20px;}

.menu {
    float: right; 
    margin-top: 40px; 
    border-bottom: solid 2px #fff;
}

.menu li {float: left;}

.menu a {
    display: block;
    height: 44px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.headet_text {
    margin-top: 13%;
    text-align: center;
    color: #fff;
}

.headet_text h1 {font-size: 42px;}


/*adva*/

.adva {
    height: 650px;
    position: relative; 
}

.adva>.warp {border-bottom: solid 2px #f1adae; height: 100%;}

.adva_right, .adva_left {
    position: absolute;
    height: 100%;
    width: 250px;
    background-image: url(../img/adva_bg.png);
    background-repeat: repeat-y;
    right: 0; 
}

.adva_left {
    left: 0;
    background-image: url(../img/adva_bg_left.png);
}

.adv_cont {
    margin-top: 40px;
    z-index: 3;
}

.adva_inf, .serv_inf, .gallery_inf, .comment_inf, .cont_inf {
    height: 122px;
    background-image: url(../img/adva_inf.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    line-height: 85px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.adva_item {text-align: center; margin-top: 40px;}

.adva_item li {
    margin-bottom: 25px; 
    color: #6e6d6b; 
    font-size: 20px; 
    text-align: left; 
    position: relative; 
    padding-left: 60px;}

.adva_item span {
    display: inline-block;
    background: #eb5454;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 90px;
    position: absolute;
    left: 0;
    top: 45%;
    margin-top: -25px;
    
}

/*Serv*/

.serv {
    position: relative;
    padding-top: 10px;
    height: 700px;
    border-bottom: solid 2px #c6decb;
}

.serv_bot, .serv_top {
    position: absolute;
    bottom: 0;
    height: 360px;
    width: 310px;
    background: url(../img/serv_bg.png) no-repeat;
}

.ser_bot {left: 0;}

.serv_top {
    top: 0;
    right: 0;
    background: url(../img/serv_bg.png) 0 360px;
}

.serv_inf {background-image: url(../img/serv_inf.png); margin-bottom: 10px;}

.serv_item {
    text-align: center;
    margin-bottom: 20px;
}

.serv_item p {
    font-size: 20px;
    color: #668f6d;
    font-weight: 300;
    margin-bottom: 10px;
}

/*Gallery*/

.gallery {
    background: url(../img/gallery_bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
    padding-top: 10px;
    border-bottom: solid 2px #fcc77e;
}

.gallery_inf {
    background-image: url(../img/gallery_inf.png);
}

.main_gal, .mini_gal {
    height: 450px;
    margin-top: 30px;
    /*background-color: #000;*/
}

.main_gal img {
    width: 100%;
    overflow: hidden;
    max-height: 350px;

}

.mini_gal {overflow-y: scroll;}

.mini_gal img {width: 100%; margin-bottom: 15px; height: 105px;}

.avto_price {
    height: 59px;
    line-height: 59px;
    font-size: 24px;
    color: #fff;
    background-image: url(../img/gallery_price.jpg);
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

/*Comment*/

.comment {
    height: 660px; 
    padding-top: 10px;
    background-color: #fcfff4;
    position: relative;
    border-bottom: solid 2px #b0d4b5;
}

.comment_left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(../img/comment_bg.jpg) repeat-y;
    width: 400px;
    z-index: 1;
}

.comment_right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: url(../img/comment_bg.jpg) repeat-y -400px 0;
    width: 400px;
    z-index: 1;
}

.comment_inf {
    background-image: url(../img/comment_inf.png);
    z-index: 4; 
    position: relative;
    margin-bottom: 20px;
}

.all_comments {
    height: 510px;
    overflow: auto;
}

.comment_item   {
    position: relative;
    z-index: 4;
    border-bottom: solid 1px #6eb6ab; 
    margin-bottom: 15px;
}

.comment_item .name {font-size: 18px;}

.comment_item .date {font-size: 14px; padding-left: 20px;}

.comment_item .text {margin: 10px 0;}

/*contacts*/

.contacts {
    padding-top: 20px; 
    height: 520px;
    position: relative;
}

.cont_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 520px;
    background: url(../img/contact_bg.jpg) 0 0;
}

.cont_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 210px;
    height: 520px;
    background: url(../img/contact_bg.jpg) 210px 0;
}

.cont_inf {text-align: center; margin-bottom: 20px;}

.cont_form {text-align: center;}

.cont_form input[type=text], .cont_form input[type=email] {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border: dashed 1px #05a4db;
    text-indent: 10px;
}

.cont_form textarea {
    resize: none;
    width: 100%;
    text-indent: 10px;
    border: dashed 1px #05a4db;
    margin-bottom: 10px;
}

.cont_form input[type=submit]{
    width: 170px;
    height: 50px;
    border: none;
    text-align: center;
    line-height: 50px;
    background-image: url(../img/contact_button.png);
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}

/*footer*/

footer {
    height: 120px;
    background-color: #979797;
}

footer .logo {margin-top: 13px;}

footer p {
    font-size: 24px;
    color: #fff;
    font-style: italic;
    margin-top: 20px;
}